@font-face {
    font-family: "MonogramsToolbox";
    src: url('/assets/MonogramsToolbox')
}

body{
    margin: 42px;
}

h1 {
    font-family: "MonogramsToolbox";
}

p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}